Repository CodingFactory-Repos/Coding-Tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maghwyn, @Loule95450, @AyakorK, @Kevw94, @TheoLandemaine, @RuKaSuu, @Thomlam

feat(account-header): Add the portolio next to linkedin and github
  front-end/src/components/account/AccountHeader.vue
Owners: @Loule95450, @Maghwyn

fix(modal): Fix the theme of the logout modal
  front-end/src/components/auth/ModalLogout.vue
Owners: @Loule95450, @Maghwyn

fix(responsive): Fix some minor responsive issues
  front-end/src/components/account/AccountHeader.vue
  front-end/src/components/account/AccountProfile.vue
Owners: @Loule95450, @Maghwyn

fix(sonarcloud): Fix the malformated regex
  back-end/src/base/users/dto/users.dto.ts
Owners: @Maghwyn

fix(misc): minor
  front-end/src/components/account/AccountForm.vue
Owners: @Loule95450, @Maghwyn

feat(capitalize): Implement a capitalize helper for all word
  back-end/src/common/helpers/string.helper.ts
Owners: @Maghwyn, @AyakorK

types(student): Define the allowed students type
  back-end/src/base/users/interfaces/allowed.students.interface.ts
Owners: @Maghwyn

feat(repository): Create the allowed students repository
  back-end/src/base/users/allowed.students.repository.ts
Owners: @Maghwyn

fix(repository): Fix the import of the user repository, it was duplicated
  back-end/src/base/users/users.repository.ts
Owners: @Maghwyn, @Loule95450

feat(auth): Retrieve the allowed students and implement the firstname, lastname and the group.
  back-end/src/auth/auth.module.ts
  back-end/src/auth/auth.service.ts
Owners: @Kevw94, @Maghwyn, @AyakorK

types(mailjet): Add a mailjet template for unallowed users
  back-end/src/common/providers/interfaces/events.interface.ts
Owners: @Maghwyn, @Loule95450

feat(mailjet): Add a new mailjet service with the the unallowed template
  back-end/src/common/providers/mailjet.provider.ts
Owners: @Maghwyn, @Loule95450

feat(mailjet): Implement the new event on the signup
  back-end/src/auth/auth.service.ts
  back-end/src/auth/events/auth.events.ts
Owners: @Maghwyn, @AyakorK, @Kevw94

[CodeFactor] Apply fixes
  back-end/src/common/helpers/string.helper.ts
Owners: @Maghwyn, @AyakorK

feat(regex): Removed unecessary escape character
  back-end/src/base/users/users.service.ts
Owners: @Maghwyn

fix(regex): Forgot to commit this file for the previous commit
  back-end/src/common/constants/global.ts
Owners: @Maghwyn, @Kevw94

.github/CODEOWNERS:

# Generated by CODEOWNERS.com
* @Maghwyn
/.github/CODEOWNERS @Loule95450 @Maghwyn
/.github/workflows/ @Loule95450
/.gitignore @Loule95450
/back-end/.eslintrc.js @AyakorK @Maghwyn @Loule95450
/back-end/src/auth/ @Kevw94 @Maghwyn
/back-end/src/auth/auth.service.ts @Maghwyn @AyakorK
/back-end/src/auth/dto/auth.dto.ts @Maghwyn @Kevw94
/back-end/src/auth/events/auth.events.req.ts @Maghwyn
/back-end/src/auth/events/auth.events.ts @Maghwyn @Kevw94
/back-end/src/auth/strategy/jwt.strategy.ts @Maghwyn @Kevw94
/back-end/src/auth/utils/ @Loule95450 @Maghwyn
/back-end/src/auth/utils/auth.cookie.ts @Maghwyn @Kevw94
/back-end/src/base/academicYears/academicYears.repository.ts @Maghwyn @Loule95450
/back-end/src/base/academicYears/interfaces/academicYears.interface.ts @Maghwyn @Loule95450
/back-end/src/base/articles/ @Maghwyn @TheoLandemaine
/back-end/src/base/articles/articles.module.ts @Maghwyn
/back-end/src/base/articles/articles.repository.ts @Maghwyn @Loule95450
/back-end/src/base/articles/interfaces/articles.interface.ts @Maghwyn @Loule95450
/back-end/src/base/boards/boards.repository.ts @Maghwyn @Loule95450
/back-end/src/base/boards/interfaces/boards.interface.ts @Maghwyn @Loule95450
/back-end/src/base/calls/ @AyakorK @Maghwyn
/back-end/src/base/calls/calls.module.ts @Maghwyn @Loule95450
/back-end/src/base/calls/calls.repository.ts @Maghwyn
/back-end/src/base/calls/interfaces/calls.interface.ts @Maghwyn @AyakorK
/back-end/src/base/courses/courses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/courses/interfaces/courses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/equipmentsLoan/interfaces/equipmentsLoan.interface.ts @Maghwyn
/back-end/src/base/groups/groups.repository.ts @Maghwyn @Loule95450
/back-end/src/base/groups/interfaces/groups.interface.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/ideasEquipments.repository.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/interfaces/ideasEquipments.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/ @Maghwyn @RuKaSuu
/back-end/src/base/materials/interfaces/materials.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/materials.repository.ts @Maghwyn @RuKaSuu @Loule95450
/back-end/src/base/materials/materials.service.ts @Maghwyn @RuKaSuu
/back-end/src/base/openHouses/interfaces/openHouses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/openHouses/openHouses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/projects/interfaces/projects.interface.ts @Maghwyn @Loule95450
/back-end/src/base/projects/projects.repository.ts @Maghwyn @Loule95450
/back-end/src/base/retrospectives/interfaces/retrospectives.interface.ts @Maghwyn @Loule95450
/back-end/src/base/retrospectives/retrospectives.repository.ts @Maghwyn @Loule95450
/back-end/src/base/users/dto/users.dto.ts @Maghwyn
/back-end/src/base/users/events/users.events.ts @Maghwyn
/back-end/src/base/users/interfaces/users.interface.ts @Maghwyn
/back-end/src/base/users/users.repository.ts @Maghwyn @Loule95450
/back-end/src/common/constants/global.ts @Maghwyn @Kevw94
/back-end/src/common/constants/README.md @Maghwyn
/back-end/src/common/decorators/jwt.decorator.ts @Maghwyn @Loule95450
/back-end/src/common/guards/auth.guard.ts @Maghwyn
/back-end/src/common/helpers/string.helper.ts @Maghwyn @AyakorK
/back-end/src/common/providers/interfaces/events.interface.ts @Maghwyn @Loule95450
/back-end/src/common/providers/mailjet.provider.ts @Maghwyn @Loule95450
/back-end/src/config/config.ts @Maghwyn @AyakorK
/back-end/src/config/interface/config.interface.ts @Maghwyn @AyakorK
/back-end/src/external-modules/database/mongo.module.ts @Maghwyn
/back-end/src/external-modules/mailjet/ @Loule95450 @Maghwyn
/back-end/types/index.d.ts @Maghwyn
/front-end/.eslintrc.cjs @Maghwyn @TheoLandemaine
/front-end/.gitignore @Loule95450
/front-end/index.html @TheoLandemaine
/front-end/package-lock.json @Loule95450 @Maghwyn
/front-end/package.json @Loule95450 @Maghwyn
/front-end/public/ @Loule95450 @Maghwyn
/front-end/public/favicon.ico @Maghwyn
/front-end/src/App.vue @TheoLandemaine @Maghwyn
/front-end/src/assets/imgs/retrospectiveImgs/ @Kevw94
/front-end/src/components/ @Loule95450 @Maghwyn
/front-end/src/components/agility/ @AyakorK @Maghwyn
/front-end/src/components/agility/AgilityCanvas.vue @Maghwyn
/front-end/src/components/agility/cards/AgilityProjectCard.vue @Maghwyn @AyakorK
/front-end/src/components/agility/cards/AgilityTemplateCard.vue @Maghwyn @Loule95450
/front-end/src/components/agility/modals/Project.vue @Maghwyn @AyakorK
/front-end/src/components/auth/signin/AskCredentials.vue @Maghwyn @Loule95450
/front-end/src/components/blog/ @TheoLandemaine
/front-end/src/components/common/drawer/RouterOption.vue @Maghwyn @Loule95450
/front-end/src/components/common/Modal.vue @AyakorK @Maghwyn
/front-end/src/components/common/uix/SelectionBox.vue @Maghwyn @AyakorK
/front-end/src/components/Navbar.vue @TheoLandemaine @Loule95450
/front-end/src/components/retrospectiveComponents/ChooseTemplate.vue @Kevw94 @AyakorK @Maghwyn
/front-end/src/components/retrospectiveComponents/CreateRetro.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/src/components/retrospectiveComponents/PixieLayout.vue @Maghwyn @AyakorK @Loule95450
/front-end/src/components/retrospectiveComponents/utils/Overlay.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/src/config/config.ts @Maghwyn @AyakorK
/front-end/src/images/ @TheoLandemaine
/front-end/src/interfaces/advanced-types.interface.ts @Maghwyn @Loule95450
/front-end/src/layout/app/AppLayout.vue @Maghwyn @Loule95450
/front-end/src/layout/app/DrawerLayout.vue @Maghwyn
/front-end/src/layout/home/ @Loule95450 @Maghwyn
/front-end/src/lib/README.md @Loule95450
/front-end/src/router/guard.ts @Maghwyn
/front-end/src/router/index.ts @Maghwyn @AyakorK
/front-end/src/store/interfaces/article.interface.ts @TheoLandemaine
/front-end/src/store/interfaces/auth.interfaces.ts @Maghwyn @Kevw94
/front-end/src/store/interfaces/theme.interface.ts @Maghwyn @Loule95450
/front-end/src/store/modules/article.store.ts @TheoLandemaine
/front-end/src/store/modules/auth.store.ts @Maghwyn @Kevw94
/front-end/src/store/modules/theme.store.ts @Maghwyn @Loule95450
/front-end/src/store/retrospective.store.ts @AyakorK @Kevw94 @RuKaSuu
/front-end/src/styles/layout.css @Maghwyn @TheoLandemaine
/front-end/src/styles/scss/config.scss @Maghwyn
/front-end/src/styles/scss/glassmorphism.scss @Maghwyn @Loule95450
/front-end/src/utils/ @Loule95450 @Maghwyn
/front-end/src/views/ @TheoLandemaine
/front-end/src/views/404/ErrorNotFound.vue @Maghwyn @Loule95450
/front-end/src/views/AgilityView.vue @AyakorK @Loule95450 @RuKaSuu
/front-end/src/views/app/AccountView.vue @Maghwyn @Loule95450
/front-end/src/views/app/AgilityDashboard.vue @Maghwyn @AyakorK
/front-end/src/views/app/AgilityProject.vue @Maghwyn
/front-end/src/views/home/ @Loule95450 @Maghwyn
/front-end/src/views/MaterialsView.vue @Maghwyn @RuKaSuu
/front-end/src/views/NewRetrospective.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/src/views/Retrospective.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/tailwind.config.cjs @Maghwyn @TheoLandemaine
/front-end/tsconfig.node.json @Maghwyn @Loule95450
/front-end/types/pixi-event.d.ts @Loule95450
/front-end/types/pixi-viewport.d.ts @Loule95450
/front-end/types/shims-mime.d.ts @Maghwyn
/README.md @Thomlam
