Repository CodingFactory-Repos/Coding-Tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maghwyn, @Loule95450, @AyakorK, @Kevw94, @TheoLandemaine, @RuKaSuu, @Thomlam, @Iagomorph

Display the list of students
  back-end/src/base/calls/calls.controller.ts
  back-end/src/base/calls/calls.repository.ts
  back-end/src/base/calls/calls.service.ts
  front-end/src/components/RollCallComponents/QrCode.vue
Owners: @AyakorK, @Maghwyn

fix(canvas): Create a temporary routes for the testing of the new pixi-lib
  front-end/src/components/agility/AgilityCanvas2.vue
  front-end/src/components/agility/AgilityCanvasUI.vue
  front-end/src/components/agility/UI/SceneMode2.vue
  front-end/src/layout/app/DrawerLayout.vue
  front-end/src/lib/pixi-tools-v2/scene.ts
  front-end/src/router/index.ts
Owners: @Loule95450, @Maghwyn

Modify retrieving of students infos by using the repository which is way more simplier
  back-end/src/base/calls/calls.controller.ts
  back-end/src/base/calls/calls.repository.ts
  back-end/src/base/calls/calls.service.ts
Owners: @AyakorK, @Maghwyn

Put some ErrorHandlers in case the API Call crashes
  front-end/src/components/RollCallComponents/QrCode.vue
Owners: @AyakorK, @Maghwyn

types(augment): Augment the global types
  front-end/types/index.d.ts
Owners: @Maghwyn

feat(project-store): Implement the setDeferredEvent function aswell as the createGeometry functino
  front-end/src/store/interfaces/projectv2.interface.ts
  front-end/src/store/modules/project2.store.ts
Owners: @Loule95450, @Maghwyn

types(enhance): Define the schema and event type of a Graphic
  front-end/src/lib/pixi-tools-v2/types/pixi-container-options.ts
  front-end/src/lib/pixi-tools-v2/types/pixi-enums.ts
Owners: @Loule95450

refactor(normalyzer): Commented out the previous code and submitted a new normalizer class
  front-end/src/lib/pixi-tools-v2/class/normalyzer.ts
Owners: @Loule95450

feat(generic-container): Define a simple constructor for the generic container
  front-end/src/lib/pixi-tools-v2/class/genericContainer.ts
Owners: @Loule95450

fix(error): Comment out the undefined functions
  front-end/src/lib/pixi-tools-v2/class/containerManager.ts
Owners: @Loule95450

Fix sonarcloud errors
  back-end/src/base/calls/calls.repository.ts
  front-end/src/components/NewSprint.vue
  front-end/src/components/materials/MaterialCard.vue
  front-end/src/views/OrganisationView.vue
  front-end/src/views/SprintsView.vue
Owners: @AyakorK, @Maghwyn, @Loule95450, @Kevw94, @TheoLandemaine

Temporary fix for this no-description issue in this table
  front-end/src/views/SprintsView.vue
Owners: @AyakorK, @Kevw94, @TheoLandemaine

added group form
  front-end/src/api/scrum-req.ts
  front-end/src/components/NewGroup.vue
  front-end/src/views/OrganisationView.vue
Owners: @Maghwyn, @Loule95450, @AyakorK, @Kevw94, @TheoLandemaine

Resolve conflicts
  back-end/src/auth/auth.controller.ts
  back-end/src/auth/auth.service.ts
  back-end/src/base/articles/articles.controller.ts
  back-end/src/base/articles/articles.service.ts
  front-end/src/api/auth-req.ts
  front-end/src/components/blog/AddArticles.vue
  front-end/src/components/blog/AddComment.vue
  front-end/src/components/blog/DisplayArticles.vue
  front-end/src/components/blog/ShowArticle.vue
  front-end/src/store/interfaces/article.interface.ts
  front-end/src/store/interfaces/auth.interfaces.ts
  front-end/src/store/modules/article.store.ts
  front-end/src/store/modules/auth.store.ts
  front-end/src/styles/layout.css
  front-end/src/views/AddCommentView.vue
Owners: @Maghwyn, @AyakorK, @TheoLandemaine, @Loule95450, @Kevw94

First instance of creating groups
  back-end/src/base/calls/calls.controller.ts
  back-end/src/base/calls/calls.service.ts
  front-end/src/components/RollCallComponents/CallsComponent.vue
  front-end/src/components/RollCallComponents/GroupsComponent.vue
  front-end/src/components/RollCallComponents/MakeGroupsComponent.vue
  front-end/src/components/RollCallComponents/StudentCell.vue
  front-end/src/components/RollCallComponents/StudentList.vue
  front-end/src/components/RollCallComponents/StudentListComponent.vue
  front-end/src/router/index.ts
  front-end/src/views/RollCall.vue
  front-end/src/views/calls/GroupsView.vue
  front-end/src/views/calls/RollCallView.vue
Owners: @AyakorK, @Maghwyn, @Iagomorph, @Loule95450, @Kevw94, @TheoLandemaine

test to see if all work && add condition
  back-end/src/base/articles/articles.repository.ts
  front-end/src/components/blog/ShowArticle.vue
Owners: @Maghwyn, @Loule95450

Adding onchange on the input
  front-end/src/components/materials/ListMaterials.vue
Owners: @Loule95450, @Maghwyn

not finish
  back-end/src/base/openHouses/openHouses.controller.ts
  back-end/src/base/openHouses/openHouses.repository.ts
  back-end/src/base/openHouses/openHouses.service.ts
  front-end/src/components/RessourcesComponents/OpenHouses.vue
  front-end/src/components/RessourcesComponents/OpenHousesDetails.vue
Owners: @Maghwyn, @Loule95450

.github/CODEOWNERS:

# Generated by CODEOWNERS.com
* @Maghwyn
/.github/ @Loule95450
/.gitignore @Loule95450
/back-end/.eslintrc.js @AyakorK @Maghwyn @Loule95450
/back-end/src/auth/ @Kevw94 @Maghwyn
/back-end/src/auth/auth.controller.ts @Maghwyn
/back-end/src/auth/auth.service.ts @Maghwyn @AyakorK
/back-end/src/auth/dto/auth.dto.ts @Maghwyn @Kevw94
/back-end/src/auth/events/auth.events.req.ts @Maghwyn
/back-end/src/auth/events/auth.events.ts @Maghwyn @Kevw94
/back-end/src/auth/strategy/jwt.strategy.ts @Maghwyn @Kevw94
/back-end/src/auth/utils/ @Loule95450 @Maghwyn
/back-end/src/auth/utils/auth.cookie.ts @Maghwyn @Kevw94
/back-end/src/base/academicYears/academicYears.repository.ts @Maghwyn @Loule95450
/back-end/src/base/academicYears/interfaces/academicYears.interface.ts @Maghwyn @Loule95450
/back-end/src/base/agileAnalysis/agileAnalysis.repository.ts @Maghwyn @Loule95450
/back-end/src/base/agileAnalysis/interfaces/agileAnalysis.interface.ts @Maghwyn @Loule95450
/back-end/src/base/articles/ @Maghwyn @TheoLandemaine
/back-end/src/base/articles/articles.module.ts @Maghwyn
/back-end/src/base/articles/articles.repository.ts @Maghwyn @Loule95450
/back-end/src/base/articles/interfaces/articles.interface.ts @Maghwyn @Loule95450
/back-end/src/base/boards/boards.repository.ts @Maghwyn @Loule95450
/back-end/src/base/boards/interfaces/boards.interface.ts @Maghwyn @Loule95450
/back-end/src/base/calls/ @AyakorK @Maghwyn
/back-end/src/base/calls/calls.module.ts @Maghwyn @Loule95450
/back-end/src/base/calls/interfaces/calls.interface.ts @Maghwyn @AyakorK
/back-end/src/base/courses/courses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/courses/interfaces/courses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/equipmentsLoan/interfaces/equipmentsLoan.interface.ts @Maghwyn
/back-end/src/base/groups/groups.repository.ts @Maghwyn @Loule95450
/back-end/src/base/groups/interfaces/groups.interface.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/ideasEquipments.repository.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/interfaces/ideasEquipments.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/ @Loule95450 @Maghwyn
/back-end/src/base/materials/interfaces/materials.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/materials.module.ts @Maghwyn @RuKaSuu
/back-end/src/base/materials/materials.service.ts @RuKaSuu @Maghwyn
/back-end/src/base/openHouses/interfaces/openHouses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/openHouses/openHouses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/projects/interfaces/projects.interface.ts @Maghwyn @Loule95450
/back-end/src/base/projects/projects.repository.ts @Maghwyn @Loule95450
/back-end/src/base/retrospectives/interfaces/retrospectives.interface.ts @Maghwyn @Loule95450
/back-end/src/base/retrospectives/retrospectives.repository.ts @Maghwyn @Loule95450
/back-end/src/base/users/dto/users.dto.ts @Maghwyn
/back-end/src/base/users/events/users.events.ts @Maghwyn
/back-end/src/base/users/interfaces/users.interface.ts @Maghwyn @Loule95450
/back-end/src/base/users/users.repository.ts @Maghwyn @Loule95450
/back-end/src/common/constants/global.ts @Maghwyn @Kevw94
/back-end/src/common/constants/README.md @Maghwyn
/back-end/src/common/decorators/jwt.decorator.ts @Maghwyn @Loule95450
/back-end/src/common/guards/auth.guard.ts @Maghwyn
/back-end/src/common/helpers/string.helper.ts @Maghwyn @Loule95450
/back-end/src/common/providers/interfaces/events.interface.ts @Maghwyn @Loule95450
/back-end/src/common/providers/mailjet.provider.ts @Maghwyn @Loule95450
/back-end/src/config/config.ts @Maghwyn @AyakorK
/back-end/src/config/cors.ts @Maghwyn @TheoLandemaine
/back-end/src/config/interface/config.interface.ts @Maghwyn @AyakorK
/back-end/src/external-modules/database/mongo.module.ts @Maghwyn
/back-end/src/external-modules/mailjet/ @Loule95450 @Maghwyn
/back-end/types/index.d.ts @Maghwyn
/front-end/.eslintrc.cjs @Maghwyn @TheoLandemaine
/front-end/index.html @TheoLandemaine
/front-end/package-lock.json @Loule95450 @Maghwyn
/front-end/package.json @Loule95450 @Maghwyn
/front-end/public/ @Loule95450 @Maghwyn
/front-end/public/favicon.ico @Maghwyn
/front-end/src/api/agility-req.ts @Maghwyn @Loule95450
/front-end/src/App.vue @TheoLandemaine @Maghwyn
/front-end/src/assets/imgs/retrospectiveImgs/ @Kevw94
/front-end/src/components/ @Loule95450 @Maghwyn
/front-end/src/components/AddArticles.vue @Maghwyn @Kevw94
/front-end/src/components/Agility.vue @Loule95450 @Thomlam
/front-end/src/components/agility/modals/Project.vue @Maghwyn @Loule95450
/front-end/src/components/auth/signin/AskCredentials.vue @Maghwyn @Loule95450
/front-end/src/components/common/drawer/RouterOption.vue @Maghwyn @Loule95450
/front-end/src/components/common/Modal.vue @Maghwyn @RuKaSuu @Loule95450
/front-end/src/components/common/uix/SelectionBox.vue @Maghwyn @Loule95450
/front-end/src/components/Navbar.vue @TheoLandemaine @Loule95450
/front-end/src/components/retrospectiveComponents/ChooseTemplate.vue @Kevw94 @AyakorK @Maghwyn
/front-end/src/components/retrospectiveComponents/CreateRetro.vue @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/components/retrospectiveComponents/PixieLayout.vue @Maghwyn @AyakorK @Loule95450
/front-end/src/components/retrospectiveComponents/utils/Overlay.vue @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/components/RollCallComponents/ @AyakorK @Iagomorph
/front-end/src/components/RollCallComponents/QrCode.vue @AyakorK @Maghwyn
/front-end/src/config/config.ts @Maghwyn @AyakorK
/front-end/src/images/ @TheoLandemaine
/front-end/src/interfaces/advanced-types.interface.ts @Maghwyn @Loule95450
/front-end/src/layout/ @Loule95450 @Maghwyn
/front-end/src/lib/ @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/css/index.css @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/js/index.js @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/media/favicon.ico @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/search.json @Loule95450
/front-end/src/lib/pixi-tools/docs/class/Scene.html @Loule95450
/front-end/src/lib/pixi-tools/models/stickyNote.ts @Maghwyn @Loule95450
/front-end/src/lib/pixi-tools/plugins/ @Loule95450 @Maghwyn
/front-end/src/lib/pixi-tools/plugins/download.ts @Loule95450
/front-end/src/lib/pixi-tools/scene.ts @Maghwyn @Loule95450
/front-end/src/lib/pixi-tools/types/pixi-tools-core.ts @Maghwyn @Loule95450
/front-end/src/router/guard.ts @Maghwyn
/front-end/src/router/index.ts @Maghwyn @Loule95450
/front-end/src/store/ @Loule95450 @Maghwyn
/front-end/src/store/index.ts @Maghwyn
/front-end/src/store/interfaces/auth.interfaces.ts @Maghwyn @Kevw94
/front-end/src/store/interfaces/axios.interface.ts @Maghwyn
/front-end/src/store/interfaces/template.interfaces.ts @Maghwyn
/front-end/src/store/modules/auth.store.ts @Maghwyn
/front-end/src/store/modules/template.store.ts @Maghwyn
/front-end/src/store/retrospective.store.ts @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/styles/scss/config.scss @Maghwyn
/front-end/src/styles/scss/glassmorphism.scss @Maghwyn @Loule95450
/front-end/src/styles/style.css @Maghwyn @TheoLandemaine
/front-end/src/utils/ @Loule95450 @Maghwyn
/front-end/src/views/ @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/views/404/ErrorNotFound.vue @Maghwyn @Loule95450
/front-end/src/views/AgilityView.vue @AyakorK @Loule95450 @RuKaSuu
/front-end/src/views/app/ @Loule95450 @Maghwyn
/front-end/src/views/home/ @Loule95450 @Maghwyn
/front-end/src/views/MaterialsView.vue @Maghwyn @RuKaSuu
/front-end/src/views/RollCall.vue @AyakorK @Loule95450
/front-end/tailwind.config.cjs @Maghwyn @TheoLandemaine
/front-end/tsconfig.json @Maghwyn @Loule95450
/front-end/tsconfig.node.json @Maghwyn @Loule95450
/front-end/types/pixi-event.d.ts @Loule95450
/front-end/types/pixi-viewport.d.ts @Loule95450
/README.md @Thomlam
