Repository CodingFactory-Repos/Coding-Tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maghwyn, @Loule95450, @AyakorK, @Kevw94, @TheoLandemaine, @RuKaSuu, @Thomlam

.github/CODEOWNERS:

# Generated by CODEOWNERS.com
* @Maghwyn
/.github/CODEOWNERS @Loule95450 @Maghwyn
/.github/workflows/ @Loule95450
/.gitignore @Loule95450
/back-end/.eslintrc.js @AyakorK @Maghwyn @Loule95450
/back-end/src/auth/ @Kevw94 @Maghwyn
/back-end/src/auth/auth.service.ts @Maghwyn @AyakorK
/back-end/src/auth/dto/auth.dto.ts @Maghwyn @Kevw94
/back-end/src/auth/events/auth.events.req.ts @Maghwyn
/back-end/src/auth/events/auth.events.ts @Maghwyn @Kevw94
/back-end/src/auth/strategy/jwt.strategy.ts @Maghwyn @Kevw94
/back-end/src/auth/utils/ @Loule95450 @Maghwyn
/back-end/src/auth/utils/auth.cookie.ts @Maghwyn @Kevw94
/back-end/src/base/academicYears/academicYears.repository.ts @Maghwyn @Loule95450
/back-end/src/base/academicYears/interfaces/academicYears.interface.ts @Maghwyn @Loule95450
/back-end/src/base/articles/ @Maghwyn @TheoLandemaine
/back-end/src/base/articles/articles.module.ts @Maghwyn
/back-end/src/base/articles/articles.repository.ts @Maghwyn @Loule95450
/back-end/src/base/articles/interfaces/articles.interface.ts @Maghwyn @Loule95450
/back-end/src/base/boards/boards.repository.ts @Maghwyn @Loule95450
/back-end/src/base/boards/interfaces/boards.interface.ts @Maghwyn @Loule95450
/back-end/src/base/calls/ @AyakorK @Maghwyn
/back-end/src/base/calls/calls.module.ts @Maghwyn @Loule95450
/back-end/src/base/calls/calls.repository.ts @Maghwyn
/back-end/src/base/calls/interfaces/calls.interface.ts @Maghwyn @AyakorK
/back-end/src/base/courses/courses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/courses/interfaces/courses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/equipmentsLoan/interfaces/equipmentsLoan.interface.ts @Maghwyn
/back-end/src/base/groups/groups.repository.ts @Maghwyn @Loule95450
/back-end/src/base/groups/interfaces/groups.interface.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/ideasEquipments.repository.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/interfaces/ideasEquipments.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/ @Maghwyn @RuKaSuu
/back-end/src/base/materials/interfaces/materials.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/materials.repository.ts @Maghwyn @RuKaSuu @Loule95450
/back-end/src/base/materials/materials.service.ts @Maghwyn @RuKaSuu
/back-end/src/base/openHouses/interfaces/openHouses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/openHouses/openHouses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/projects/interfaces/projects.interface.ts @Maghwyn @Loule95450
/back-end/src/base/projects/projects.repository.ts @Maghwyn @Loule95450
/back-end/src/base/retrospectives/interfaces/retrospectives.interface.ts @Maghwyn @Loule95450
/back-end/src/base/retrospectives/retrospectives.repository.ts @Maghwyn @Loule95450
/back-end/src/base/users/dto/users.dto.ts @Maghwyn
/back-end/src/base/users/events/users.events.ts @Maghwyn
/back-end/src/base/users/interfaces/users.interface.ts @Maghwyn
/back-end/src/base/users/users.repository.ts @Maghwyn @Loule95450
/back-end/src/common/constants/global.ts @Maghwyn @Kevw94
/back-end/src/common/constants/README.md @Maghwyn
/back-end/src/common/decorators/jwt.decorator.ts @Maghwyn @Loule95450
/back-end/src/common/guards/auth.guard.ts @Maghwyn
/back-end/src/common/helpers/string.helper.ts @Maghwyn @AyakorK
/back-end/src/common/providers/interfaces/events.interface.ts @Maghwyn @Loule95450
/back-end/src/common/providers/mailjet.provider.ts @Maghwyn @Loule95450
/back-end/src/config/config.ts @Maghwyn @AyakorK
/back-end/src/config/interface/config.interface.ts @Maghwyn @AyakorK
/back-end/src/external-modules/database/mongo.module.ts @Maghwyn
/back-end/src/external-modules/mailjet/ @Loule95450 @Maghwyn
/back-end/types/index.d.ts @Maghwyn
/front-end/.eslintrc.cjs @Maghwyn @TheoLandemaine
/front-end/.gitignore @Loule95450
/front-end/index.html @TheoLandemaine
/front-end/package-lock.json @Loule95450 @Maghwyn
/front-end/package.json @Loule95450 @Maghwyn
/front-end/public/ @Loule95450 @Maghwyn
/front-end/public/favicon.ico @Maghwyn
/front-end/src/App.vue @TheoLandemaine @Maghwyn
/front-end/src/assets/imgs/retrospectiveImgs/ @Kevw94
/front-end/src/components/ @Loule95450 @Maghwyn
/front-end/src/components/agility/ @AyakorK @Maghwyn
/front-end/src/components/agility/AgilityCanvas.vue @Maghwyn
/front-end/src/components/agility/cards/AgilityProjectCard.vue @Maghwyn @AyakorK
/front-end/src/components/agility/cards/AgilityTemplateCard.vue @Maghwyn @Loule95450
/front-end/src/components/agility/modals/Project.vue @Maghwyn @AyakorK
/front-end/src/components/auth/signin/AskCredentials.vue @Maghwyn @Loule95450
/front-end/src/components/blog/ @TheoLandemaine
/front-end/src/components/common/drawer/RouterOption.vue @Maghwyn @Loule95450
/front-end/src/components/common/Modal.vue @AyakorK @Maghwyn
/front-end/src/components/common/uix/SelectionBox.vue @Maghwyn @AyakorK
/front-end/src/components/Navbar.vue @TheoLandemaine @Loule95450
/front-end/src/components/retrospectiveComponents/ChooseTemplate.vue @Kevw94 @AyakorK @Maghwyn
/front-end/src/components/retrospectiveComponents/CreateRetro.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/src/components/retrospectiveComponents/PixieLayout.vue @Maghwyn @AyakorK @Loule95450
/front-end/src/components/retrospectiveComponents/utils/Overlay.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/src/config/config.ts @Maghwyn @AyakorK
/front-end/src/images/ @TheoLandemaine
/front-end/src/interfaces/advanced-types.interface.ts @Maghwyn @Loule95450
/front-end/src/layout/app/AppLayout.vue @Maghwyn @Loule95450
/front-end/src/layout/app/DrawerLayout.vue @Maghwyn
/front-end/src/layout/home/ @Loule95450 @Maghwyn
/front-end/src/lib/README.md @Loule95450
/front-end/src/router/guard.ts @Maghwyn
/front-end/src/router/index.ts @Maghwyn @AyakorK
/front-end/src/store/interfaces/article.interface.ts @TheoLandemaine
/front-end/src/store/interfaces/auth.interfaces.ts @Maghwyn @Kevw94
/front-end/src/store/interfaces/theme.interface.ts @Maghwyn @Loule95450
/front-end/src/store/modules/article.store.ts @TheoLandemaine
/front-end/src/store/modules/auth.store.ts @Maghwyn @Kevw94
/front-end/src/store/modules/theme.store.ts @Maghwyn @Loule95450
/front-end/src/store/retrospective.store.ts @AyakorK @Kevw94 @RuKaSuu
/front-end/src/styles/layout.css @Maghwyn @TheoLandemaine
/front-end/src/styles/scss/config.scss @Maghwyn
/front-end/src/styles/scss/glassmorphism.scss @Maghwyn @Loule95450
/front-end/src/utils/ @Loule95450 @Maghwyn
/front-end/src/views/ @TheoLandemaine
/front-end/src/views/404/ErrorNotFound.vue @Maghwyn @Loule95450
/front-end/src/views/AgilityView.vue @AyakorK @Loule95450 @RuKaSuu
/front-end/src/views/app/AccountView.vue @Maghwyn @Loule95450
/front-end/src/views/app/AgilityDashboard.vue @Maghwyn @AyakorK
/front-end/src/views/app/AgilityProject.vue @Maghwyn
/front-end/src/views/home/ @Loule95450 @Maghwyn
/front-end/src/views/MaterialsView.vue @Maghwyn @RuKaSuu
/front-end/src/views/NewRetrospective.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/src/views/Retrospective.vue @AyakorK @Kevw94 @RuKaSuu
/front-end/tailwind.config.cjs @Maghwyn @TheoLandemaine
/front-end/tsconfig.node.json @Maghwyn @Loule95450
/front-end/types/pixi-event.d.ts @Loule95450
/front-end/types/pixi-viewport.d.ts @Loule95450
/front-end/types/shims-mime.d.ts @Maghwyn
/README.md @Thomlam

WIP(chat): chat ws module
  back-end/src/common/decorators/ws.chat.decorator.ts
  back-end/src/common/gateways/chat.global.gateway.ts
  back-end/src/common/helpers/string.helper.ts
  back-end/src/common/middlewares/socket.chat.middleware.ts
  back-end/src/external-modules/chat/chat.module.ts
  front-end/src/socket.js
Owners: @Maghwyn, @AyakorK

types(user-profile): Add a type to retrieve the user profile list
  back-end/src/base/users/interfaces/users.interface.ts
Owners: @Maghwyn

fix(user-service): Update the user-service with the recent changes
  back-end/src/base/users/users.service.ts
Owners: @Maghwyn

feat(user-profile): Retrieve other user profile
  back-end/src/base/users/users.service.ts
Owners: @Maghwyn

feat(users): Implement the routing to retrieve any user profile and update the github stat to be multi-user rather than single user
  back-end/src/base/users/users.controller.ts
Owners: @Maghwyn

feat(projection): Add the projection to retrieve another user profile
  back-end/src/base/users/utils/users.projection.ts
Owners: @Maghwyn

types(user): Add the _id and id temporarily
  front-end/src/store/interfaces/auth.interfaces.ts
Owners: @Maghwyn, @Kevw94

types(user): Add the type to retrieve a list of related user profile
  front-end/src/store/interfaces/user.interface.ts
Owners: @Maghwyn

feat(api): Create the api call to retrieve the related user profile
  front-end/src/api/user-req.ts
Owners: @Maghwyn

feat(user-store): Create the function and add the necessary data to the initial state of the store to manage multiple profile
  front-end/src/store/modules/user.store.ts
Owners: @Maghwyn

fix(profile): Conditionnaly show the edit button on the user profile
  front-end/src/components/account/AccountHeader.vue
Owners: @Loule95450, @Maghwyn

feat(profile): Add the userId in the props and make the call api with the id rather than the cookie
  front-end/src/components/account/AccountProfile.vue
Owners: @Loule95450, @Maghwyn

feat(router): Implement a new route to get the other user profile
  front-end/src/router/index.ts
Owners: @Maghwyn, @AyakorK

feat(account): Update the account view with the changes of the header and the profile
  front-end/src/views/app/AccountView.vue
Owners: @Maghwyn, @Loule95450

feat(related-user): Create a near-duplicated component for the other user profile
  front-end/src/views/app/RelatedProfileView.vue
Owners: @TheoLandemaine

fix(profile): Fix the profile with conditional data so nothing is empty
  front-end/src/components/account/AccountProfile.vue
Owners: @Loule95450, @Maghwyn

fix(related-profile): Reduce the min width and add a min height
  front-end/src/views/app/AccountView.vue
  front-end/src/views/app/RelatedProfileView.vue
Owners: @Maghwyn, @Loule95450, @TheoLandemaine

feat(border): Add a border to the related user profile picture
  front-end/src/views/app/RelatedProfileView.vue
Owners: @TheoLandemaine

fix(theme): Fix the related user theme between light and dark
  front-end/src/views/app/RelatedProfileView.vue
Owners: @TheoLandemaine

feat(related-profile): Reduce the duplicated component into a single one
  front-end/src/components/account/AccountRelatedProfile.vue
Owners: @Loule95450, @Maghwyn

fix(profile): Implement the new component on the user and other user profile
  front-end/src/views/app/AccountView.vue
  front-end/src/views/app/RelatedProfileView.vue
Owners: @Maghwyn, @Loule95450, @TheoLandemaine

fix(theme): Fix the stat svg and the profile text color
  front-end/src/components/account/AccountProfile.vue
  front-end/src/components/account/AccountRelatedProfile.vue
Owners: @Loule95450, @Maghwyn

fix(icon-button): The icon button was cropped
  front-end/src/layout/app/DrawerLayout.vue
Owners: @Maghwyn

fix(select-theme): Fix the simple select theme and remove unsued checkmark
  front-end/src/components/common/SimpleSelect.vue
Owners: @Loule95450, @Maghwyn

fix(theme): Fix the dark/light them for the account form components
  front-end/src/components/account/AccountForm.vue
  front-end/src/components/account/AccountFormField.vue
Owners: @Loule95450, @Maghwyn

fix(form-date): Fix the theme of the vue date select form
  front-end/src/components/account/AccountForm.vue
Owners: @Loule95450, @Maghwyn

feat(drawer): Make the drawer button fixed instead of absolute
  front-end/src/layout/app/DrawerLayout.vue
Owners: @Maghwyn

fix(profile): I reversed the condition for the disciplines taught
  front-end/src/components/account/AccountProfile.vue
Owners: @Loule95450, @Maghwyn

fix(drawer): Adjusted the left position between mobile and desktop for the icon drawer button
  front-end/src/layout/app/DrawerLayout.vue
Owners: @Maghwyn

fix(drawer): In white mode the drawer text was blue instead of blackish
  front-end/src/components/common/drawer/RouterOption.vue
Owners: @Maghwyn, @Loule95450

style(comment): Remove unsued style block
  front-end/src/styles/layout.css
  front-end/src/styles/style.css
Owners: @Maghwyn, @TheoLandemaine

fix(theme): Fix the theme in the project card
  front-end/src/components/agility/cards/AgilityProjectCard.vue
Owners: @Maghwyn, @AyakorK

fix(modal): Increase the z-index, remove the hardcoded svg and change its color
  front-end/src/components/common/Modal.vue
Owners: @AyakorK, @Maghwyn

fix(project): Fix the theme of the project
  front-end/src/components/agility/modals/Project.vue
Owners: @Maghwyn, @AyakorK

fix(text): Fix the text color in both theme on the project page
  front-end/src/components/agility/AgilityProjectDisplay.vue
  front-end/src/components/agility/AgilityTemplateDisplay.vue
  front-end/src/components/agility/cards/AgilityTemplateCard.vue
Owners: @AyakorK, @Maghwyn, @Loule95450

fix(icon): Mark the icon fill as important so it's not overrided
  front-end/src/components/agility/modals/Project.vue
Owners: @Maghwyn, @AyakorK

fix(scene-theme): Use the theme store, add a new property and handle dark/light theme'
  front-end/src/components/agility/UI/SceneUI.vue
Owners: @AyakorK, @Maghwyn

feat(loader): Add the light theme to the canvas loader
  front-end/src/components/agility/UI/CanvasLoader.vue
Owners: @AyakorK, @Maghwyn

fix(theme): Fix the theme of the scene, it was mixed between light and dark
  front-end/src/components/agility/UI/CanvasTabulation.vue
  front-end/src/components/agility/UI/ToolsEditor.vue
Owners: @AyakorK, @Maghwyn

feat(svg): Add the home svg
  front-end/src/components/common/svg/Home.vue
Owners: @Loule95450, @Maghwyn
