Repository CodingFactory-Repos/Coding-Tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maghwyn, @Loule95450, @AyakorK, @Thomlam, @TheoLandemaine, @Kevw94, @Iagomorph, @RuKaSuu

.github/CODEOWNERS:

# Generated by CODEOWNERS.com
* @Maghwyn
/.github/ @Loule95450
/.gitignore @Loule95450
/back-end/.eslintrc.js @AyakorK @Maghwyn @Loule95450
/back-end/nest-cli.json @Maghwyn @Thomlam
/back-end/package-lock.json @Maghwyn @Loule95450
/back-end/src/ @Maghwyn @Thomlam
/back-end/src/auth/auth.service.ts @AyakorK @Maghwyn @Loule95450
/back-end/src/auth/dto/auth.dto.ts @Maghwyn @Thomlam
/back-end/src/auth/strategy/jwt.strategy.ts @Maghwyn @Thomlam
/back-end/src/base/academicYears/academicYears.repository.ts @Maghwyn @Loule95450
/back-end/src/base/academicYears/interfaces/academicYears.interface.ts @Maghwyn @Loule95450
/back-end/src/base/agileAnalysis/agileAnalysis.repository.ts @Maghwyn @Loule95450
/back-end/src/base/agileAnalysis/interfaces/agileAnalysis.interface.ts @Maghwyn @Loule95450
/back-end/src/base/articles/ @Maghwyn @TheoLandemaine
/back-end/src/base/articles/articles.module.ts @Maghwyn @Thomlam
/back-end/src/base/articles/articles.repository.ts @Maghwyn @Loule95450
/back-end/src/base/articles/interfaces/articles.interface.ts @Maghwyn @Loule95450
/back-end/src/base/boards/boards.repository.ts @Maghwyn @Loule95450
/back-end/src/base/boards/interfaces/boards.interface.ts @Maghwyn @Loule95450
/back-end/src/base/calls/ @AyakorK @Loule95450 @Maghwyn
/back-end/src/base/calls/calls.module.ts @Maghwyn @Thomlam
/back-end/src/base/calls/calls.repository.ts @Maghwyn @Thomlam
/back-end/src/base/calls/interfaces/calls.interface.ts @Maghwyn @Thomlam
/back-end/src/base/courses/courses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/courses/interfaces/courses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/equipmentsLoan/interfaces/equipmentsLoan.interface.ts @Maghwyn @Thomlam
/back-end/src/base/groups/groups.repository.ts @Maghwyn @Loule95450
/back-end/src/base/groups/interfaces/groups.interface.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/ideasEquipments.repository.ts @Maghwyn @Loule95450
/back-end/src/base/ideasEquipments/interfaces/ideasEquipments.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/ @Loule95450 @Maghwyn
/back-end/src/base/materials/interfaces/materials.interface.ts @Maghwyn @Loule95450
/back-end/src/base/materials/materials.module.ts @Maghwyn @Thomlam
/back-end/src/base/openHouses/interfaces/openHouses.interface.ts @Maghwyn @Loule95450
/back-end/src/base/openHouses/openHouses.repository.ts @Maghwyn @Loule95450
/back-end/src/base/projects/interfaces/projects.interface.ts @Maghwyn @Loule95450
/back-end/src/base/projects/projects.repository.ts @Maghwyn @Loule95450
/back-end/src/base/README.md @Maghwyn
/back-end/src/base/retrospectives/interfaces/retrospectives.interface.ts @Maghwyn @Loule95450
/back-end/src/base/retrospectives/retrospectives.repository.ts @Maghwyn @Loule95450
/back-end/src/base/users/dto/users.dto.ts @Maghwyn
/back-end/src/base/users/events/users.events.ts @Maghwyn
/back-end/src/base/users/interfaces/users.interface.ts @Maghwyn @Loule95450
/back-end/src/base/users/users.controller.ts @Maghwyn
/back-end/src/base/users/users.repository.ts @Maghwyn @Loule95450
/back-end/src/common/ @Maghwyn
/back-end/src/common/constants/global.ts @Maghwyn @Thomlam
/back-end/src/common/constants/README.md @Maghwyn
/back-end/src/common/decorators/catch.decorator.ts @Maghwyn @Thomlam
/back-end/src/common/decorators/README.md @Maghwyn
/back-end/src/common/guards/auth.guard.ts @Maghwyn @Thomlam
/back-end/src/common/helpers/string.helpes.ts @AyakorK @Maghwyn @Loule95450
/back-end/src/common/providers/interfaces/events.interface.ts @Maghwyn @Thomlam
/back-end/src/common/providers/mailjet.service.ts @Maghwyn @Thomlam
/back-end/src/config/ @Maghwyn
/back-end/src/config/config.ts @Maghwyn @AyakorK
/back-end/src/config/cors.ts @Maghwyn @TheoLandemaine
/back-end/src/config/interface/config.interface.ts @AyakorK @Maghwyn @Loule95450
/back-end/src/external-modules/database/mongo.module.ts @Maghwyn @Thomlam
/back-end/src/external-modules/mailjet/mailjet.module.ts @Maghwyn @Thomlam
/back-end/tsconfig.build.json @Maghwyn @Thomlam
/back-end/types/index.d.ts @Maghwyn
/front-end/.eslintrc.cjs @Maghwyn @TheoLandemaine
/front-end/index.html @TheoLandemaine
/front-end/package-lock.json @Loule95450 @Maghwyn
/front-end/package.json @Loule95450 @Maghwyn
/front-end/public/favicon.ico @Maghwyn
/front-end/src/App.vue @TheoLandemaine
/front-end/src/assets/imgs/retrospectiveImgs/ @Kevw94
/front-end/src/components/Agility.vue @Loule95450 @Thomlam
/front-end/src/components/Navbar.vue @TheoLandemaine
/front-end/src/components/pixi-tools/PixiCanvas.vue @Loule95450
/front-end/src/components/retrospectiveComponents/ @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/components/retrospectiveComponents/PixieLayout.vue @Maghwyn @AyakorK @Loule95450
/front-end/src/components/retrospectiveComponents/utils/Overlay.vue @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/components/RollCallComponents/ @AyakorK @Iagomorph
/front-end/src/components/Test.vue @Loule95450
/front-end/src/config/config.ts @Maghwyn @AyakorK
/front-end/src/config/env.validator.ts @Maghwyn
/front-end/src/images/ @TheoLandemaine
/front-end/src/layout/AppLayout.vue @TheoLandemaine
/front-end/src/lib/ @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/css/index.css @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/js/index.js @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/media/favicon.ico @Loule95450
/front-end/src/lib/pixi-tools/docs/assets/search.json @Loule95450
/front-end/src/lib/pixi-tools/docs/class/Scene.html @Loule95450
/front-end/src/main.ts @Maghwyn @TheoLandemaine
/front-end/src/router/guard.ts @Maghwyn
/front-end/src/router/index.ts @Maghwyn @Loule95450 @AyakorK
/front-end/src/store/retrospective.store.ts @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/styles/scss/config.scss @Maghwyn
/front-end/src/styles/style.css @TheoLandemaine
/front-end/src/utils/helpers/string.helper.ts @Maghwyn
/front-end/src/views/AgilityView.vue @AyakorK @Loule95450 @RuKaSuu
/front-end/src/views/MaterialsView.vue @RuKaSuu @AyakorK
/front-end/src/views/NewRetrospective.vue @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/views/Retrospective.vue @AyakorK @Kevw94 @TheoLandemaine
/front-end/src/views/RollCall.vue @AyakorK @Iagomorph
/front-end/tailwind.config.cjs @TheoLandemaine
/front-end/types/pixi-event.d.ts @Loule95450
/front-end/types/pixi-viewport.d.ts @Loule95450

feature(env-mailer): Add the configuration for mailjet environment
  back-end/.env.example
  back-end/src/config/config.ts
  back-end/src/config/env.validator.ts
  back-end/src/config/interface/config.interface.ts
Owners: @Maghwyn, @AyakorK, @Loule95450

feature(mailjet): Add mailjet module with universal email
  back-end/src/external-modules/mailjet/mailjet.module.ts
  back-end/src/external-modules/mailjet/mailjet.service.ts
Owners: @Maghwyn, @Thomlam

types(mailjet): Fix any type
  back-end/src/external-modules/mailjet/mailjet.interface.ts
Owners: @Maghwyn, @Thomlam

feat(dto): Implement the dto for the reset and activation token
  back-end/src/auth/dto/auth.dto.ts
Owners: @Maghwyn, @Thomlam

feat(events): Renamed a few variable names and rework the params of each bust event function
  back-end/src/auth/auth.service.ts
  back-end/src/auth/events/auth.events.req.ts
  back-end/src/auth/events/auth.events.ts
  back-end/src/common/providers/interfaces/events.interface.ts
Owners: @AyakorK, @Maghwyn, @Loule95450, @Thomlam

feat(mailjet): Rework the Events and Template interface for the mailjet listener and implement two email template for the activation and reset token
  back-end/src/common/providers/interfaces/events.interface.ts
  back-end/src/common/providers/mailjet.provider.ts
Owners: @Maghwyn, @Thomlam

chore(import): Remove duplicated import
  back-end/src/auth/auth.service.ts
Owners: @AyakorK, @Maghwyn, @Loule95450

feature(events): Rename the function names and fix the data send by the event bus
  back-end/src/auth/events/auth.events.req.ts
  back-end/src/auth/events/auth.events.ts
Owners: @Maghwyn, @Thomlam

feat(auth): Implement the routing for the activation and reset token
  back-end/src/auth/auth.controller.ts
Owners: @Maghwyn, @Thomlam

chore(import): replace @ with src as all other imports are with src
  back-end/src/auth/auth.module.ts
  back-end/src/auth/auth.service.ts
  back-end/src/auth/utils/auth.security.ts
  back-end/src/common/providers/mailjet.provider.ts
Owners: @Maghwyn, @Thomlam, @AyakorK, @Loule95450

types(unset): Fix types error with from mongodb
  back-end/src/auth/auth.service.ts
  back-end/src/external-modules/mailjet/mailjet.service.ts
Owners: @AyakorK, @Maghwyn, @Loule95450, @Thomlam

feat(mailjet): Implemented the last two remaning email template with a wip on product owner business
  back-end/src/common/providers/mailjet.provider.ts
Owners: @Maghwyn

fix(errors): Compatibility with the front-end
  back-end/src/auth/auth.controller.ts
  back-end/src/auth/auth.service.ts
Owners: @Maghwyn, @Thomlam, @AyakorK, @Loule95450

chore(linter): Remove unused import
  back-end/src/auth/auth.controller.ts
Owners: @Maghwyn, @Thomlam

feature(mailjet): Inject Mailjet service and create enum type
  back-end/src/common/providers/interfaces/events.interface.ts
  back-end/src/common/providers/mailjet.provider.ts
  back-end/src/common/providers/mailjet.service.ts
Owners: @Maghwyn, @Thomlam

feature(mailjet): Integrate mailjet module and events with validation routing
  back-end/src/auth/auth.controller.ts
  back-end/src/auth/auth.module.ts
  back-end/src/auth/events/auth.events.req.ts
  back-end/src/auth/events/auth.events.ts
Owners: @Maghwyn, @Thomlam

fix(mongodb): Find user by email would not work as the field in inside an object profile, fixed
  back-end/src/auth/auth.service.ts
Owners: @AyakorK, @Maghwyn, @Loule95450

feat(auth): Implement the business logic to verify the activation token, reset token and more.. | Update the user interface and fix the user repository types
  back-end/src/auth/auth.service.ts
  back-end/src/base/users/interfaces/users.interface.ts
  back-end/src/base/users/users.repository.ts
Owners: @AyakorK, @Maghwyn, @Loule95450

chore(linter): Format the project
  back-end/src/auth/auth.controller.ts
  back-end/src/auth/auth.service.ts
  back-end/src/auth/dto/auth.dto.ts
  back-end/src/auth/events/auth.events.req.ts
  back-end/src/auth/events/auth.events.ts
  back-end/src/base/materials/materials.controller.ts
  back-end/src/base/users/users.repository.ts
  back-end/src/common/providers/interfaces/events.interface.ts
  back-end/src/common/providers/mailjet.provider.ts
  back-end/src/config/config.ts
  back-end/src/config/env.validator.ts
  back-end/src/external-modules/mailjet/mailjet.interface.ts
  back-end/src/external-modules/mailjet/mailjet.module.ts
  back-end/src/external-modules/mailjet/mailjet.service.ts
Owners: @Maghwyn, @Thomlam, @AyakorK, @Loule95450

perf(mailjet): Switch between multiple params to object options params for mailjet service
  back-end/src/external-modules/mailjet/mailjet.interface.ts
  back-end/src/external-modules/mailjet/mailjet.service.ts
Owners: @Maghwyn, @Thomlam

chore(linter): Format the project
  back-end/src/auth/auth.service.ts
  back-end/src/auth/events/auth.events.req.ts
  back-end/src/auth/events/auth.events.ts
Owners: @AyakorK, @Maghwyn, @Loule95450, @Thomlam

fix(helpers): Type helpes renamed helper
  back-end/src/auth/auth.service.ts
  back-end/src/auth/utils/auth.security.ts
  back-end/src/common/helpers/string.helper.ts
Owners: @AyakorK, @Maghwyn, @Loule95450, @Thomlam

fix(conflict): Rebase develop-G6
  back-end/package-lock.json
  back-end/package.json
Owners: @Maghwyn, @Loule95450
